/* ドラッグ時にテキスト選択・コピーにならないよう選択を無効化 */
.js-plotly-plot,
.js-plotly-plot .plot-container,
.js-plotly-plot .svg-container,
.js-plotly-plot canvas,
.rc-slider,
.rc-slider * {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}
